<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="https://res.cloudinary.com/ddywdmynl/image/upload/v1637195085/patch-exclamation_khfxok.svg">
    <title>Home</title>
</head>
<body > 
    <nav style="background-color: #bfddf3;" class="navbar  navbar-expand-lg navbar-light  p-4 ">
        <a class="navbar-brand" href="#"> <h2>Exposing City</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(Home)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/Saturn-Coorp/Saturn-DUS">Programadores
     
              </a>
            </li>
          </ul>
        </div>
    </nav>

    <main style="width: 350px;" class="container mt-5 d-flex justify-content-center  flex-column">
            <h2 class="text-center">Esse é um projeto para o Hackaton ENATEC, esse sistema soluciona o problema do tema Logística! </h2>
            <div class="d-flex flex-column  align-items-center mt-5">
                <a href="/relatar" style="height: 40px; box-shadow: 5px 5px 5px #aaaaaa; width: 200px;" class="btn btn-info mb-3  text-center">Usário</a>
                <a href="/admin/login" style="height: 40px; box-shadow: 5px 5px 5px #aaaaaa; width: 200px;" class="btn btn-info">Admin</a>
            </div>    
    </main>
    <h5 class="text-center mt-3 mb-3">Developed by <a class="text-secondary " style="text-decoration:none;" href="https://github.com/AugustoBernardes" >Augusto</a> and <a class="text-secondary " style="text-decoration:none;" href="https://github.com/helayas" >Helyas</a></h5>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>