<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="https://res.cloudinary.com/ddywdmynl/image/upload/v1637195085/patch-exclamation_khfxok.svg">
    <title>Relato</title>
</head>
<body>
    <div class="d-flex flex-column  align-items-center justify-content-center container mt-2 mb-4">
        <div class="container d-flex flex-column  bg-secondary p-3 rounded " style="box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705); max-width: 400px;">
            <h2 class="text-center bg-light rounded p-2">Novo Relato</h2>
            <form class="d-flex flex-column " action="/relatar" enctype="multipart/form-data" method="POST">
                <h4 class="mt-1 mb-1 text-center">Imagem</h4>
                <input class="mt-2 mb-2" required  type="file" name="image" accept="image/png, image/jpg, image/jpeg">
                <h4 class="mt-1 mb-1 text-center">Nome:</h4>
                <input class="mt-2 mb-2 text-center " required type="text"  name="name"  placeholder="Ex: José">
                <h4 class="mt-1 mb-1 text-center">CPF:</h4>
                <input class="mt-2 mb-2 text-center" required type="number" name="cpf" placeholder="Ex: 19474590236">
                <h4 class="mt-1 mb-1 text-center">Bairro</h4>
                <select class="mt-2 mb-2 text-center" name="district">
                    <% Districts.forEach(district => { %>
                        <option value="<%= district %>"><%= district %></option>
                    <% }); %> 
                </select>
                <h4 class="mt-1 mb-1 text-center">Rua:</h4>
                <input class="mt-2 mb-2 text-center" required type="text" name="street" placeholder="Ex: Rua  2">
                <h4 class="mt-2 mb-2 text-center">Ponto de referência e o problema: </h4>
                <textarea class="text-center" name="content"  required cols="30" rows="10" placeholder="Ex: Ao lado da casa numero 48, A coleta de lixo não está recolhendo tudo"></textarea>
                <button class="mt-3 btn btn-primary ">Adicionar</button>
            </form>
        </div>
    </div >
</body>
</html>